# Домашнее задание 1 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [1]:
import pandas as pd

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [2]:
from zipfile import ZipFile
with ZipFile('Data.zip', 'r') as data:
    data.extractall('')

In [3]:
df=pd.DataFrame()
for i in range(10):
    Students_info_i = 'Data/Students_info_'+str(i)+'.csv'#читаю информацию и оценки из всех источников
    Students_marks_i = 'Data/Students_marks_'+str(i)+'.csv'#читаю информацию и оценки из всех источников
    df_i = pd.read_csv(Students_info_i).join(pd.read_csv(Students_marks_i), rsuffix='r')#собираю всю информацию по каждой группе
    df = pd.concat([df,df_i]).reset_index(drop='True')#собираю всю информацию о студентах в одну таблицу
df=df.drop('indexr',axis=1)

In [4]:
df.head(21)

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,1,female,group C,some college,standard,completed,group1,69,90,88
2,2,female,group B,master's degree,standard,none,group1,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,4,male,group C,some college,standard,none,group1,76,78,75
5,5,female,group B,associate's degree,standard,none,group1,71,83,78
6,6,female,group B,some college,standard,completed,group1,88,95,92
7,7,male,group B,some college,free/reduced,none,group1,40,43,39
8,8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,9,female,group B,high school,free/reduced,none,group1,38,60,50
10,10,male,group C,associate's degree,standard,none,group1,58,54,52
11,11,male,group D,associate's degree,standard,none,group1,40,52,43
12,12,female,group B,high school,standard,none,group1,65,81,73
13,13,male,group A,some college,standard,completed,group1,78,72,70
14,14,female,group A,master's degree,standard,none,group1,50,53,58
15,15,female,group C,some high school,standard,none,group1,69,75,78
16,16,male,group C,high school,standard,none,group1,88,89,86
17,17,female,group B,some high school,free/reduced,none,group1,18,32,28
18,18,male,group C,master's degree,free/reduced,completed,group1,46,42,46
19,19,female,group C,associate's degree,free/reduced,none,group1,54,58,61
20,20,male,group D,high school,standard,none,group1,66,69,63

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [5]:
df = df.drop('index', axis=1)
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

#### Задание 3. Выведите на экран размеры полученной таблицы

In [6]:
df.shape

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [7]:
df.describe().loc[['min', 'max', 'mean', 'std']]

      math score  reading score  writing score
min      0.00000      17.000000      10.000000
max    100.00000     100.000000     100.000000
mean    66.08900      69.169000      68.054000
std     15.16308      14.600192      15.195657

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [8]:
df.info()
#пропущенные значения отсутствуют

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   group                        1000 non-null   object
 6   math score                   1000 non-null   int64
 7   reading score                1000 non-null   int64
 8   writing score                1000 non-null   int64
dtypes: int64(3), object(6)
memory usage: 70.4+ KB

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [9]:
df.mean()

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [10]:
#в среднем студенты, прошебшие курс для подготовки к сдаче экзамена получили оценку выше тех, кто данный курс не проходил по каждому предмету
df.groupby(['test preparation course']).mean()

                         math score  reading score  writing score
test preparation course
completed                 69.695531      73.893855      74.418994
none                      64.077882      66.534268      64.504673

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [11]:
print(*df['lunch'].unique(), sep='\n')

standard
free/reduced

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [12]:
df = df.rename(columns={"parental level of education":"education",
                   "test preparation course":"test preparation"})
df.head(0)

Empty DataFrame
Columns: [gender, race/ethnicity, education, lunch, test preparation, group, math score, reading score, writing score]
Index: []

**Зафиксируем минимальный балл для сдачи экзамена**

In [13]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [14]:
n = df['gender'].count()
n_passed = df['gender'][df['math score'] >= passmark].count()
prop_passed = n_passed / n

n_curse = df['gender'][df['test preparation'] == 'completed'].count()
n_curse_passed = df['gender'][(df['test preparation'] == 'completed')&(df['math score'] >= passmark)].count()
prop_curses_passed = n_curse_passed / n_curse

n_women_missed_curse = df['gender'][(df['test preparation'] != 'completed')&(df['gender'] == 'female')].count()
n_women_missed_curse_failed = df['gender'][(df['test preparation'] != 'completed')&(df['gender'] == 'female')&(df['math score'] < passmark)].count()
prop_women_missed_curse_failed = n_women_missed_curse_failed / n_women_missed_curse

print(prop_passed, '- доля студентов, сдавших экзамен по математике')
print(prop_curses_passed, '- доля студентов, проходивших курс подготовки к экзамену, сдавших экзамен по математике')
print(prop_women_missed_curse_failed, '- доля женщин, не проходивших курс подготовки к экзамену, не сдавших экзамен по математике')

0.865 - доля студентов, сдавших экзамен по математике
0.9217877094972067 - доля студентов, проходивших курс подготовки к экзамену, сдавших экзамен по математике
0.20958083832335328 - доля женщин, не проходивших курс подготовки к экзамену, не сдавших экзамен по математике

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [15]:
%%time
#Для каждой этнической группы выведите средний балл за экзамен по чтению
df.groupby(['race/ethnicity'])['reading score'].mean()

Wall time: 15.6 ms

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64

In [16]:
%%time
#Для каждого уровня образования выведите минимальный балл за экзамен по письму
df.groupby(['education'])['writing score'].min()

Wall time: 0 ns

education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [17]:
%%time
#Для каждой этнической группы выведите средний балл за экзамен по чтению
rs = []
for group in df['race/ethnicity'].unique():
    for res in df[df['race/ethnicity'] == group]['reading score']:
        rs.append(res)
    print(group, sum(rs)/len(rs))
    rs = []

group B 67.35263157894737
group C 69.10344827586206
group A 64.67415730337079
group D 70.03053435114504
group E 73.02857142857142
Wall time: 15.6 ms

In [18]:
%%time
#Для каждого уровня образования выведите минимальный балл за экзамен по письму
ws = []
for edu in df['education'].unique():
    for res in df[df['education'] == edu]['writing score']:
        ws.append(res)
    print(edu, min(ws))
    ws = []

bachelor's degree 38
some college 19
master's degree 46
associate's degree 35
high school 15
some high school 10
Wall time: 13.9 ms

Время выполнения задач с помощью groupby меньше чем время выполнения тех же задач с помощью циклов. Это связано с моим неоптимальным уровнем сортировки. Не уверен в системе работы питона, но возможнно groupby сразу конвертится в ассемблер, что тоже прибавляет скорости.

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [19]:
#с помощью сводных таблиц
pd.pivot_table(data=df, index=['gender', 'education'])

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

In [20]:
#с помощью groupby
df.groupby(['gender', 'education']).mean()

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [21]:
#Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе
def count_ps(score):
    if score < passmark:
        return('F')
    else:
        return('P')

df['Math_PassStatus'] = df['math score'].apply(count_ps)

In [22]:
#Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.
mp = df['gender'][df['Math_PassStatus'] == 'P'].count()
mf = df['gender'][df['Math_PassStatus'] == 'F'].count()
print(mp, '- количество студентов, сдавших экзамен по математике')
print(mf, '- количество студентов, не сдавших экзамен по математике')

865 - количество студентов, сдавших экзамен по математике
135 - количество студентов, не сдавших экзамен по математике

In [23]:
#Сделайте аналогичные шаги для экзаменов по чтению и письму.
df['Reading_PassStatus'] = df['reading score'].apply(count_ps)
df['Writing_PassStatus'] = df['writing score'].apply(count_ps)

In [24]:
rp = df['gender'][df['Reading_PassStatus'] == 'P'].count()
rf = df['gender'][df['Reading_PassStatus'] == 'F'].count()
wp = df['gender'][df['Writing_PassStatus'] == 'P'].count()
wf = df['gender'][df['Writing_PassStatus'] == 'F'].count()
print(rp, '- количество студентов, сдавших экзамен по чтению')
print(rf, '- количество студентов, не сдавших экзамен по чтению')
print(wp, '- количество студентов, сдавших экзамен по письму')
print(wf, '- количество студентов, не сдавших экзамен по письму')

910 - количество студентов, сдавших экзамен по чтению
90 - количество студентов, не сдавших экзамен по чтению
886 - количество студентов, сдавших экзамен по письму
114 - количество студентов, не сдавших экзамен по письму

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [25]:
#Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.
def count_oaps(i):
    m, w, r = i
    if (m == r) & (r == w) & (w == 'P'):
        return('P')
    else:
        return('F')

df['OverAll_PassStatus'] = df[['Math_PassStatus', 'Reading_PassStatus', 'Writing_PassStatus']].apply(count_oaps, axis=1)

In [26]:
#Посчитайте количество студентов, которые сдали все экзамены.
df['gender'][df['OverAll_PassStatus'] == 'P'].count()

812

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [27]:
#Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.
def GetGrade(average_mark):
    m, r, w = average_mark
    av = (m+r+w)/3
    if av >= 90:
        return('A')
    elif av >= 80:
        return('B')
    elif av >= 70:
        return('C')
    elif av >= 60:
        return('D')
    elif av >= 50:
        return('E')
    else:
        return('F')

#Создайте столбец Grade и запишите в него оценку каждого студента.
df['Grade'] = df[['math score', 'reading score', 'writing score']].apply(GetGrade, axis=1)

In [28]:
#Выведите количество студентов, получивших каждую из оценок.
a = df['gender'][df['Grade'] == 'A'].count()
b = df['gender'][df['Grade'] == 'B'].count()
c = df['gender'][df['Grade'] == 'C'].count()
d = df['gender'][df['Grade'] == 'D'].count()
e = df['gender'][df['Grade'] == 'E'].count()
f = df['gender'][df['Grade'] == 'F'].count()
print(a, 'A')
print(b, 'B')
print(c, 'C')
print(d, 'D')
print(e, 'E')
print(f, 'F')

52 A
146 B
261 C
256 D
182 E
103 F